<a href='/home'>Home</a> | <a href='/show/{{question.id}}'>Go Back to Question</a> <a href='/' class='right_link'>Log Out</a>
<h1>New Answer:</h1>
	<form>
		Question:<textarea rows='10' class='row text' ></textarea>
		<div class='bottom row'>
		Description (optional):<textarea rows='10' class='row text' ></textarea>
		<button type='submit'>submit</button>
		</div>
	</form>
	<style>
.text{
	width:40%;
	margin-left:25%;
}

.bottom{
	margin-left:0%;
}

.post{
	width:40%;
	margin-left:25%;
	font-size:1em;
}

.comment{
	font-size:0.8em;
}

.post_child{
	width:100%;
}
.right_link{
	margin-left:90%;
}


</style>