<a href=''>Home</a> | <a href=''>Go Back to Question</a> <a href='' class='right_link'>Log Out</a>
	<h1>Question:</h1>
	
	<div class='post row'>
		<h1> </h1>
		<p> </p>
			

			<div class='post_child'> <!--comments-->
				<span class='comment'> </span>
				<span class='likes_counter'> Likes</span>
				<button class='default'>like</button>
			</div>

	</div>
<style>
#text{
	width:40%;
	margin-left:25%;

}

.bottom{
	margin-left:57%;
}

.post{
	width:40%;
	margin-left:25%;
	font-size:1em;
}

.comment{
	font-size:0.8em;
}

.post_child{
	width:100%;
}

.likes_counter{
	margin-left: 5%
}

.right_link{
	margin-left:90%;
}

</style>
